  <label>{{label}}</label>
  <input
    #text
    [disabled]="disabled"
    [placeholder]="placeholder"
    (change) = "onchange(text.value)"
    (blur)="ontouched()"
    [(ngModel)]="value"
    type="text">
    <div *ngIf="ngControl.invalid&&(ngControl.touched||ngControl.dirty)">
      <span *ngIf="ngControl.errors['required']">"required"</span>
      <span *ngIf="ngControl.errors['minlength']">{{ngControl.errors['minlength'].requiredLength}}</span>
      <span *ngIf="ngControl.errors['maxlength']">{{ngControl.errors['maxlength'].requiredLength}}</span>
    </div>